#cart--wrap--index{
    align-items: center;
    justify-self: center;
    margin: 0px auto;
    width: 100%;
    max-width: 1500px;
    padding: 0;
}


.Item__ContainerShoppingItembox{
    display: flex;
    border: 2px solid black;
    margin: 25px auto;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    border-radius: 15px;
    overflow: hidden;
}



.Item__imgShoppingItembox{
    max-width: 300px;
    max-height: 500px;
    margin: 15px 10px;
}

.Item__ContainershoppingItemboxContent{
    text-align: center;
    width: 100%;
    position: relative;
}

.Item__ContainerShoppingItemboxTitle{
    display: flex;
}

.Item__ContainerShoppingItemboxRemovePC{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    border: 0;
    font-size: 1.5rem;
    border-radius: 5px;
}

.Item__ContainerShoppingItemboxRemovePC:hover{
    background-color: hsl(0, 0%, 90%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}
.Item__ContainerShoppingItemboxRemoveMobile{
    display: none;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    border: 0;
    font-size: 1.5rem;
    border-radius: 5px;
}
.Item__ContainerShoppingItemboxRemoveMobile:hover{
    background-color: hsl(0, 0%, 90%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}
.Item__ContainerShoppingItemboxMainTitle{
    margin-top: 15px;
    padding-top: 10px;
    margin: auto;
    width: 100%;
}
.Item__ContainerShoppingItemboxInfo{
    display: flex;
    margin: 15px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.Item__ContainerShoppingItemboxInfo h3{

    margin: 15px 10px;
}

.imageconterbuttonWrap{
    position: relative;
}

#Total{
    text-align: center;
}
#Total   h3{
    margin: 25px 0;
    font-size: 1.5rem;
}
#Total button{
    padding: 25px 50px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    border: 0;
    border-radius: 5px;
}
#Total button:hover{
    background-color: hsl(0, 0%, 90%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}



@media screen and (max-width: 960px){
    .Item__ContainerShoppingItembox{
        display: block;
        text-align: center;
    }
    .Item__ContainerShoppingItembox img{
        border-right: 2px solid white;
    }
    .Item__ContainerShoppingItemboxInfo{
        display: block;
        margin: 15px;
        position: relative;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .Item__ContainerShoppingItemboxRemoveMobile{
        display: block;
    }
    .Item__ContainerShoppingItemboxRemovePC{
        display: none;
    }
    .imageconterbuttonWrap{
        display: block;
    }
    .Item__imgShoppingItembox{
        text-align: center;
        max-width: 70vw;
        max-height: 250px;
    }
}

@media screen and (max-width: 450px){
    .Item__imgShoppingItembox{
        max-width: 55%;
    }
    .Item__ContainerShoppingItembox{
        overflow: auto;
    }
}