.Item__Container {
    background-color: white;
}
.Item__Container h2{
    margin: 25px;
    text-align: center;
}
.Item__Display{
        display: grid;
    grid-template-columns: 1fr 1fr;
}
.Item__Image--wrap{
    text-align: center;
}
.Item__Image{
    height: auto;
    width: fit-content;
    max-width: 100%;
}
.Item__Description{
    text-align: center;
    background-color: white;
    
}
.Item__AmountControl{
    display: grid;
}
.Item__BuyOptions button{
    width: 5rem;
    height: 2rem;
}

.Item__TypeControls{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Item__SizeControl{
    margin: auto;
    width: fit-content;
    background-color: white;
}

.product__Summary{
    font-size: 1.1rem;
    padding: 15% 0;
}

.Item__AmountControl{
    margin: 25px 0;
}
.Item__AmountControl p{
    padding: 10px;
    margin: auto;
    font-size: 1.1rem;
}

.Item__AmountControl div{
    display: flex;
    margin: auto;
}
.Item__AmountControl__button{
    width: 50px;
    height: auto;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #f77062 ;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
}

.Item__AmountControl button:hover{
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(6, 90%, 60%) ;
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}

.Item__SizeControl form{
    margin: 0;
    font-size: 1.1rem;
    display: flex;
}

.product__formItem input{
    margin: 10px 0px;
    margin-right: 15px;
}

.product__formItem label{
    margin: 10px 5px;
}

#ItemSizeNumberForm label{
    font-size: 1.25rem;
    padding: 10px 0;
    margin-right: 10px;
}

#ItemSizeNumberForm input{
    font-size: 1.25rem;
    border: 2px solid #f77062 ;
    border-radius: 5px;
    text-align: center;
}
.Item__BuyOptions{
    text-align: center;
    justify-content: center;
    display: grid;
}

.Item__BuyOptions button{
    width: 135%;
    margin: 15px 0;
    height: auto;
    width: auto ;
    padding: 5px 25px;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #f77062;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
}
.Item__BuyOptions button:hover{
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(6, 90%, 60%) ;
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}

@media screen and (max-width: 960px){
    .Item__Display{
    grid-template-columns: 1fr;
}
}

#NoteAlert{
    display: none;
}