/*treading*/
#Trending__itemsHeader{
    padding: 25px 0px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 5px hsl(0, 0%, 55%);
}

.treading{
    margin: 0 -10px;
    display: flex;
    width: auto;
    height: auto;
    overflow:auto;

}
.Item__img{

    max-height: 35vh;
}
.items__treading{

    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 1px solid hsl(0, 0%, 0%);
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    border-radius: 25px;
    transition: border,box-shadow  250ms;
}

.items__treading:hover{
    border: 2px solid hsl(0, 0%, 20%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}
