.Item__Container--wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Item__Container{
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 1px solid hsl(0, 0%, 0%);
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    border-radius: 25px;
    transition: border,box-shadow  250ms;
}
.Item__Container:hover{
    border: 2px solid hsl(0, 0%, 20%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}
.Item__img{
    height: 35vh;
    max-width: 100%;
}
.categories__type{
    display: block;
}

.categories{
    text-align: center;
}

.categories h2{
    text-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    font-size: 2rem;
    padding: 25px 0px;
    
}
.categories__type button{
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 10px 5px;
    padding: 10px 25px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
}
.categories__type button:hover{
    box-shadow: 5px 5px 5px hsl(0, 0%, 55%);
}

#searchTextBox{
    border: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 5px hsl(0, 0%, 55%);
    text-align: center;
    font-size: 1.25rem;
    padding: 10px 25px;
    margin: 25px 0px;
}

@media screen and (max-width: 1750px){
    .Item__Container--wrap{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px){
    .Item__Container--wrap{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 840px) {
    .Item__Container--wrap{
        grid-template-columns: 1fr;
    }
    
}